<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.eit.androideit.eit" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.eit.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.eit.permission.C2D_MESSAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.eit.androideit.eit.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/BaseActivityStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.eit.androideit.eit.ScheduleActivity"
            >
        </activity>
        <activity android:name="pl.eit.androideit.eit.chanel.StartActivity" >
        </activity>
        <activity
            android:name="pl.eit.androideit.eit.chanel.SingleChannel"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="pl.eit.androideit.eit.chanel.RegisterActivity" >
        </activity>
        <activity android:name="pl.eit.androideit.eit.chanel.LogInOrSignUp" >
        </activity>
        <activity
            android:name="pl.eit.androideit.eit.chanel.ChannelsActivity">
        </activity>
    </application>

</manifest>
